.navbarBg{
    background: #0d82df !important;
}

.header .navbarBg .nav-link{
    color: #FFF !important;
}

.navbar-brand{
    color: #FFF !important;
}
.campaign-dashboard-content{
    display: flex !important;
}

.campaign-sidebar{
    background: #41495b;
    height: 100vh !important;
    max-width: 268px;
    min-width: 268px;
}

.campaign-drawer-container{
    background: #e5eaf4;
    padding: 20px !important;
    display: flex;
    flex: 1 1;
    column-gap: 24px;
}

.campaign-dashboard-drawer, .campaign-dashboard-campaigns{
    flex: 1;
}

.dashboard-card{
    background-color: #FFF;
}


.sidebar-section-title p.site_name{
    color: #FFF;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 0 !important;
}