.main_content {
    padding-left: 270px;
    width: 100%;
    padding-top: 0 !important;
    transition: .5s;
    position: relative;
    min-height: 100vh;
    padding-bottom: 70px;
    overflow: hidden;
}